* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  width: 100%;
  height: auto;
}
.App-header {
  background-color: #222;
  height: 10vh;
  text-align: center;
  color: white;
}
.App-footer {
  position: absolute;
  bottom:0px;
  width:100%;
  background-color: #222;
  text-align: center;
  color: white;
}
.App-intro {
  font-size: large;
}

.searchBox {
  height: 20vh
}
.map{
  height: 90vh
}
.row {
  margin:0;
  padding:0;
}
.storeList {
  overflow: scroll;
  height:70vh;
  padding:20px;
  padding-bottom :10vh;
  
}
.storeCard {
  padding:10px;
  float:left;
  width:47%;
  margin-right: 10px;
  border: 1px solid gainsboro;
}

.markerPoint {
  position: 'absolute';
  width: 40;
  height: 40;
  left: -20;
  top: -20;
  border: 1px solid greenyellow;
  border-radius: 20;
  background-color: green;
  text-align: center;
  color:white;
  text-shadow: 2px 2px #222;
  box-shadow: 2px 2px #222;
  font-size: 6;
  font-weight: 'bold';
  padding: 16;
}
/* For mobile phones: */
[class*="col-"] {
  float:left;
  width: 100%;
  margin: 0;
  padding:0;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  
}
/* Generals */
.clear {
  clear: both;
}

.border {
  -webkit-box-shadow:inset 0px 0px 0px 1px #f00;
  -moz-box-shadow:inset 0px 0px 0px 1px #f00;
  box-shadow:inset 0px 0px 0px 1px #f00;
}

